*{
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	background-image: url('img/index_background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #040c22;
	font-family: 'Bitter', serif;
	font-size: 28px;
}
main{
	height: 100%;
}
article{
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.board{
	width: 100%;;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2vh;
	display: flex;
	flex-direction: row;
    align-items: center;
	justify-content: space-evenly;
}

.choseLeft{
	background-color: #fdc100;
    width: 39%;
    display: flex;
    flex-direction: column;
    align-items: center;
	border-radius: 6%;
	border-color: #000000;
	padding: 1%;

}
.choseRight{
	background-color: #040c22;
    width: 39%;
    display: flex;
    flex-direction: column;
    align-items: center;
	border-radius: 6%;
	border-color: #000000;
	padding: 1%;
}

.choseGameBattle{
	width: 60%;
	min-height: 5%;
	text-align: center;
	padding: 2%;
	background-color: #fdc100;
	color: #040c22;
	background-size: cover;
	border: 4px solid #fef311;
	border-radius: 4px;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .3s ease-in-out;
	margin-top: 1%;
}
.choseGameBattle:hover	{
	filter: brightness(100%);
}
.choseGameEevee{
	width: 60%;
	min-height: 5%;
	text-align: center;
	padding: 2%;
	background-color: #040c22;
	color: #fdc100;
	background-size: cover;
	border: 4px solid #fdc100;
	border-radius: 4px;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .3s ease-in-out;
	margin-top: 1%;
}
.choseGameEevee:hover	{
	border: 4px solid #000000;
	filter: brightness(100%);
}

a{
	display: flex;
	width: 100%;
	justify-content: center
}

a:link    { color: #040c22; text-decoration: none;}
a:visited { color: #040c22;}
a:active  { color: #040c22;}
a:hover   { color: #000000;}
.board::selection {	background: #fdc100;} /*ukrycie zaznaczenia pola tekstowego na planszy*/

.gameLogo{
	width: 60%;
}

.downPokemon{
	padding: 10px;
}