*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}
body{
	font-family: 'Bitter', serif;
	font-size: 28px;
	user-select: none;
}
#top{
    display: flex;
    flex-direction: column;
    justify-content: center;
	height: 25%;
}
#logo{
	text-align: center;
}
#nameGame{
	text-align: center;
	letter-spacing: 2px;
}
#container{
	height: 100%;
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
	background-position: bottom;
}
#containerSingle{
	height: 100%;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board{
	height: 100%;
	max-width: 50%;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	position: relative;
  	z-index: 1;
}
.row{
	height: 140px;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card{
	width: 125px;
	height: 125px;
	display: inline-block;
	background-image: url("img/background.png");
	border: 4px solid #fdc100;
	border-radius: 4px;
	cursor: pointer;
	filter: brightness(70%);
	transition: all .3s ease-in-out;
	margin: 4px;
}
.card:hover	{
	border: 4px solid #2e4595;
	filter: brightness(100%);
}
/*karta aktywna*/
.cardA{
	width: 125px;
	height: 125px;
	display: inline-block;
	background-image: url("img/background.png");
	border: 4px solid #2e4595;
	border-radius: 4px;
	cursor: default;
	filter: brightness(100%);
	transition: all .3s ease-in-out;
	margin: 4px;
}
.score{
	margin-top: 2vh;
	letter-spacing: 2px;
}

a:link    { color: #040c22; text-decoration: none;}
a:visited { color: #040c22;}
a:active  { color: #040c22;}
a:hover   { color: #000000;}

.choicepl{
	display: flex;
	flex-direction: row;
	margin-top: 3vh;
}
#ash{
	background-color:#E6E6FA;
	width: 350px;
	height: 350px;
	background-image: url("img/ash_a.png");
	background-size: cover;
	background-repeat: no-repeat;
	border: 4px solid #fdc100;
	border-radius: 4px;
	filter: brightness(70%);
	margin: 4px 0px 4px 0px;
	cursor: pointer;
}
#ash:hover	{
	background-color:#E6E6FA;
	border: 4px solid #2e4595;
	filter: brightness(100%);
	background-image: url("img/ash_b.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#gary{
	background-color:#E6E6FA;
	width: 350px;
	height: 350px;
	background-image: url("img/gary_a.png");
	background-size: cover;
	background-repeat: no-repeat;
	border: 4px solid #fdc100;
	border-radius: 4px;
	filter: brightness(70%);
	margin: 4px;
	cursor: pointer;
}
#gary:hover	{
	background-color:#E6E6FA;
	border: 4px solid #2e4595;
	filter: brightness(100%);
	background-image: url("img/gary_b.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#ai{
	background-color:#E6E6FA;
	width: 350px;
	height: 350px;
	background-image: url("img/ai_a.png");
	background-position: center;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	border: 4px solid #fdc100;
	border-radius: 4px;
	filter: brightness(70%);
	margin: 4px;
	cursor: pointer;
}
#ai:hover	{
	background-color:#E6E6FA;
	filter: brightness(100%);
	background-image: url("img/ai_b.png");
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}

.left{
	height: 100%;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
  	z-index: 0;
	background-position: bottom;
	
}
.right{
	height: 100%;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
  	z-index: 0;
	background-position: bottom;
}

.sidePlayerAsh{
    height: 60vh;
    width: 100%;
	background-image: url("img/ash_a.png");
    background-size: 100%;
	background-repeat: no-repeat;
	filter: brightness(20%);
	background-position: bottom;
}
.sidePlayerGary{
    height: 60vh;
    width: 100%;
	background-image: url("img/gary_a.png");
    background-size: 100%;
	background-repeat: no-repeat;
	filter: brightness(20%);
	background-position: bottom;
}
.sidePlayerAi{
    height: 60vh;
    width: 100%;
	background-image: url("img/ai_a.png");
    background-size: 100%;
	background-repeat: no-repeat;
	filter: brightness(20%);
	background-position: bottom; 
}
.scoreAsh{
	margin-top: 2vh;
}
.scoreGary{
	margin-top: 2vh;
}

